@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-image-1: url("https://images.unsplash.com/photo-1454789476662-53eb23ba5907?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
  --background-image-2: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
  --background-image-3: url("https://images.unsplash.com/photo-1514632595-4944383f2737?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
  --background-image-4: url("https://plus.unsplash.com/premium_photo-1669809948017-518b5d800d73?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
  --background-image-5: url("https://images.unsplash.com/photo-1601134467661-3d775b999c8b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
  --background-image-6: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D");
  --background-image-7: url("https://images.unsplash.com/photo-1527482797697-8795b05a13fe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D");
  --background-image-8: url("https://images.unsplash.com/photo-1492011221367-f47e3ccd77a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D");
} */

/* BG IMAGE */
body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.light-bg {
  background-color: rgba(245, 245, 245, 0.2);
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
  border-radius: 40px;
}

.navbar {
  display: block;
}

h1 {
  text-align: center;
  margin: 5% 1% auto;
  font-size: xx-large;
  font-weight: 600;
  color: rgb(12, 9, 9);
  padding-top: 20px;
}

h3 {
  text-align: center;
  margin: 20px auto;
}

.search {
  text-align: center;
  margin: 5% auto;
}

#src {
  border: none;
  background-color: rgba(240, 255, 255);
  color: black;
}

/* NAVBAR END*/

/* MAIN */

.main {
  background-color: rgba(240, 255, 255, 0.3);
  width: 60%;
  height: 20%;
  color: black;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 40px;
}
.intro {
  font-weight: 700;
  font-size: x-large;
}
.container {
  text-align: center;
  padding: 10px;
  font-size: larger;
}
