@tailwind base;
@tailwind components;
@tailwind utilities;

/* BG IMAGE */
body {
  background-image: url("/tree-clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar {
  display: block;
}

h1 {
  text-align: center;
  margin: 5% 1% auto;
  font-size: xx-large;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

h3 {
  text-align: center;
  margin: 20px auto;
}

.search {
  text-align: center;
  margin: 5% auto;
}

#src {
  border: none;
  background-color: rgba(240, 255, 255, 0.3);
  color: black;
}

/* NAVBAR END*/

/* MAIN */

.main {
  background-color: rgba(240, 255, 255, 0.3);
  width: 60%;
  height: 200px;
  color: black;
  margin: auto;
  margin-bottom: 20px;
}
