@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/tree-clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  display: block;
}

h1 {
  text-align: center;
  margin: 5% 1% auto;
  font-size: xx-large;
  font-weight: 600;
}

h3 {
  text-align: center;
  margin: 20px auto;
}

.search {
  text-align: center;
  margin: 5% auto;
}

#src {
  border: 1px solid rgb(182, 182, 245);
  border-radius: 15px;
}
